# Environment Configuration
NODE_ENV=development

# NATS Configuration
NATS_URL=nats://localhost:4222
NATS_STREAM_NAME=NEXUS_STREAM
NATS_CONSUMER_NAME=nexus_worker_group

# NATS Authentication (Optional)
# NATS_USER=my_user
# NATS_PASS=my_password
# NATS_TOKEN=my_token
